@font-face {
    font-family: Quentin;
    src: url('../font/Quentin.otf');
}

@font-face {
    font-family: GothamMedium;
    src: url('../font/gotham_ssv/Gotham-Medium.otf');
}

@font-face {
    font-family: GothamLight;
    src: url('../font/gotham_ssv/Gotham-Light.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: GothamLight;
}

a{
    cursor: pointer;
}

a:hover{
    text-decoration: none;
    color: #000;
}

#organization-page{
    /* background-image: url('../img/organization-img/bg1.png');
    background-size: contain;
    background-repeat: no-repeat; */
}

.navbar{
    background-color: transparent !important;
    position: relative;
    z-index: 10;
    padding-left: 20px;
}

.logo{
    height: 30px;
    width: 50px;
}

.form-inline{
    background-color: rgba(240, 240, 240, .8);
    border: none !important;
    border-radius: 20px;
    width: 50%;
}

.form-control{
    background-color: transparent;
    border: none !important;
    width: 90% !important;
}

.form-control:focus{
    border: none;
    background-color: transparent;
}

.search-btn{
    background-color: transparent;
    border: none;
}

.search-icon{
    color: #f6f6f6;
    font-size: 20px;
    position: relative;
    top: 2px;
}

.navbar-nav{
    margin: auto 0 auto auto !important;
}

.dropdown-menu{
    background-color: transparent;
    border: none;
}

.dropdown-menu *{
    color: #fff !important;
    transition-duration: .5s;
}

.nav-item{
    margin-right: 20px;
}

.nav-link{
    color: #fff !important;
    font-family: GothamMedium;
}

.navigation-bar{
    background-image: url('../img/organization-img/bg1.png');
    background-size: cover;
    background-position: center;
    padding-bottom: 200px;
    position: relative;
    z-index: 1;
}

@media only screen and (max-width: 991px) {
    .form-inline{
        border-radius: 20px;
        width: 100%;
    }
    .dropdown-menu *{
        color: #000 !important;
        transition-duration: .5s;
    }
    .nav-link{
        color: #000 !important;
        font-family: GothamMedium;
    }
}

.main-header{
    color: #fff;
    font-family: GothamMedium;
    font-size: 5vw;
    margin-top: 150px;
    text-align: center;
}

.main-info{
    margin: 50px auto;
    text-align: center;
    width: 70%;
}

.culture{
    margin-top: 100px;
    background-image: url('../img/organization-img/bg2.png');
    position: relative;
    /* padding: 50px 0 500px; */
}

.main-img{
    display: block;
    margin: 0 auto;
    height: 1100px;
    width: 1200px;
}

.first-two-div div, .last-two-div div{
    display: none;
    font-size: 14px;
}

.culture div h5{
    font-family: GothamMedium;
}

.blue-bold{
    color: dodgerblue;
    font-family: GothamMedium;
}

.organizational-structure{
    padding: 70px 0 70px 50px;
}

.organizational-structure-header{
    font-family: GothamMedium;
}

.organizational-structure-img{
    display: block;
    margin: 100px auto;
    width: 800px;
    height: 350px;
}

@media only screen and (max-width: 1359px) {
    .main-img{
        height: 1000px;
        width: 1100px;
    }
}

@media only screen and (max-width: 1300px) {
    .main-img{
        height: 900px;
        width: 1000px;
    }
}

@media only screen and (max-width: 1150px) {
    .main-img{
        height: 800px;
        width: 900px;
    }
}

@media only screen and (max-width: 1100px) {
    .main-img{
        height: 700px;
        width: 800px;
    }
}

@media only screen and (max-width: 1000px) {
    .organizational-structure-img{
        width: 600px;
        height: 300px;
    }
    .main-img{
        height: 650px;
        width: 700px;
    }
}

@media only screen and (max-width: 991px) {
    .main-header{
        font-size: 8vw;
    }
}

@media only screen and (max-width: 839px) {
    .main-info{
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .main-header{
        font-size: 6vw;
    }
    .main-info{
        margin: 70px auto 0;
        font-size: 14px;
    }
    .organizational-structure-header{
        font-size: 20px;
    }
    .organizational-structure-img{
        margin: 50px auto 100px;
        width: 450px;
        height: 200px;
    }
}

@media only screen and (max-width: 767px) {
    .main-img{
        display: none;
    }
    .culture{
        margin-top: 50px;
    }
    .first-two-div, .last-two-div{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .first-two-div div, .last-two-div div{
        padding-left: 20px;
        display: block !important;
        width: 45%;
    }
}

@media only screen and (max-width: 677px) {
    .main-info{
        font-size: 14px;
        width: 90%;
    }
    .first-two-div, .last-two-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .first-two-div div, .last-two-div div{
        padding-left: 20px;
        display: block !important;
        width: 85%;
        margin-top: 20px;
    }
    .first-two-div div * , .last-two-div div *{
        font-size: 14px;
    }
    .first-two-div div h5 , .last-two-div div h5{
        font-size: 20px;
    }
    .organizational-structure{
        padding: 20px 0 100px 80px;
    }
}

@media only screen and (max-width: 571px) {
    .main-info{
        margin: 50px auto 0;
        font-size: 12px;
        width: 90%;
    }
    .first-two-div div * , .last-two-div div *{
        font-size: 12px;
    }
    .first-two-div div h5 , .last-two-div div h5{
        font-size: 20px;
    }
}

@media only screen and (max-width: 625px) {
    .first-two-div div h5 , .last-two-div div h5{
        font-size: 18px;
    }
    .organizational-structure{
        padding: 20px 50px;
    }
    .organizational-structure-header{
        font-size: 18px;
    }
    .organizational-structure-img{
        width: 400px;
        height: 180px;
    }
}

@media only screen and (max-width: 600px) {
    .main-header{
        font-size: 8vw;
    }
}

@media only screen and (max-width: 500px) {
    .first-two-div div, .last-two-div div{
        padding-left: 10px;
    }
    .first-two-div div h5 , .last-two-div div h5{
        font-size: 16px;
    }
    .organizational-structure{
        padding: 20px 30px;
    }
    .organizational-structure-header{
        font-size: 16px;
    }
    .organizational-structure-img{
        width: 350px;
        height: 150px;
    }
}

@media only screen and (max-width: 400px) {
    .main-header{
        font-size: 10vw;
    }
    .organizational-structure-header{
        font-size: 14px;
    }
    .organizational-structure-img{
        margin: 30px auto 0;
        width: 280px;
        height: 150px;
    }
}